/**********TAG SELECTORS**********/
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

body{
    color: #40514E;
    text-align: center;
    font-family: 'Merriweather', serif; 
}

h1{
    padding-top: 50px;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;
    padding-top: 20px;
    margin-top: 0;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

a{
    color: #11999E;  
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}

p{
    line-height: 2;
}

span{
    text-decoration: underline;
}

hr{
    width: 100px;
    border-style: none;
    border-top: dotted 5px;
    border-color: #EAF6F6;
    margin: 50px auto;
}

/**********CLASS SELECTORS**********/

.top-container{
    background-color: #EAF6F6;
    padding-top: 30px;
}

.middle-container{
   padding: 50px 0;
    
}

.bottom-container{
    background-color: #66BFBF;
}

.bols{
    border-radius: 100%;
}

.top-cloud{
    position: absolute;
    right: 200px;
}

.bottom-cloud{
    position: absolute;
    left: 200px;
}

.beginning{
    width: 30%;
    margin: auto;
}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.novel{
    width: 35%;
    margin-right: 30px;
    float: left;
}

.food{
    width: 25%;
    margin-left: 30px;
    float: right;
}

.footer-link{
    padding: 0 100px;
    position: relative;
    top: 30px;
    color: #11999E;
    text-decoration: none;
}

.end{
    color: #EAF6F6;
    margin: 0;
    text-size-adjust: 10px;
    padding: 40px 0 20px 0;
}

.tired{
    width: 30%;
    margin: auto;
}

.btn {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Brush Script MT;
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 40px auto;
    text-align: center;
 }
 
 .BUTTON_HYO:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
